.home{
  width: 100vw;
  padding-bottom: 9vh;
  height: 100%;
  .tab{
      width: 100%;
      position: fixed;
      bottom: 0;
      height: 9vh;
      background-color: #fff;

     .adm-tab-bar-wrap{
      height: 100%;
      .adm-tab-bar-item{
        color: #555;
      } 
      .adm-tab-bar-item-active{
        color: green;
      }
      .adm-tab-bar-item-title{
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }

}
.iconfont{
font-size: 25px !important;
}