.index {
  background-color: #eeeeee;
  width: 100vw;
}
.index .nt {
  position: absolute;
  top: 35px;
  width: 100%;
  height: 35px;
  padding: 0 15px;
  z-index: 6;
  display: flex;
  align-items: center;
}
.index .nt .left {
  height: 100%;
  line-height: 100%;
  width: 90%;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
}
.index .nt .left span {
  display: inline-block;
  font-size: 17px;
  width: 15%;
  height: 100%;
  line-height: 35px;
  text-align: center;
}
.index .nt .left .input {
  height: 100%;
  width: 75%;
}
.index .nt .left .icon-arrow {
  display: inline-block;
  width: 10%;
  position: relative;
  top: 4px;
  left: 4px;
}
.index .nt .left .icon-seach {
  display: inline-block;
  font-size: 20px;
  position: absolute;
  left: 27%;
  top: 30%;
}
.index .nt .icon-map {
  display: inline-block;
  width: 10%;
  height: 100%;
  text-align: center;
  line-height: 35px;
  font-size: 30px !important;
}
.index .swiper {
  width: 100vw;
  height: 200px;
}
.index .swiper .content {
  height: 100%;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.index .swiper .content img {
  min-width: 100%;
  max-height: 100%;
}
.index .nav {
  margin-top: 10px;
  width: 100vw;
  height: 65px;
  background-color: #fff;
}
.index .nav div {
  float: left;
  width: 20%;
  margin-left: 3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}
.index .nav div img {
  max-width: 10vw;
  max-height: 100%;
  display: block;
  margin-left: 5vw;
  margin-bottom: 3px;
}
.index .nav div span {
  font-size: 14px;
  color: green;
}
.index .rentG {
  margin-top: 5px;
  width: 100vw;
}
.index .rentG .top {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.index .rentG .top span {
  font-size: 18px;
  line-height: 30px;
}
.index .rentG .top span:nth-child(1) {
  padding-left: 5px;
  float: left;
  font-weight: bold;
}
.index .rentG .top span:nth-child(2) {
  float: right;
  margin-right: 20px;
}
.index .rentG .rcon {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.index .rentG .rcon .item {
  margin-bottom: 10px;
  width: 45vw;
  height: 90px;
  background-color: #ffffff;
  display: flex;
  border-radius: 10px;
}
.index .rentG .rcon .item .l {
  width: 55%;
  height: 100%;
  position: relative;
}
.index .rentG .rcon .item .l span {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
}
.index .rentG .rcon .item .l span:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  top: 20%;
}
.index .rentG .rcon .item .l span:nth-child(2) {
  font-size: 13px;
  top: 60%;
}
.index .rentG .rcon .item img {
  display: block;
  width: 80px;
}
.index .infom {
  width: 100vw;
  background-color: #fff;
}
.index .infom .top {
  padding-top: 10px;
  height: 30px;
}
.index .infom .top span {
  font-size: 18px;
  line-height: 30px;
}
.index .infom .top span:nth-child(1) {
  padding-left: 5px;
  float: left;
  font-weight: bold;
}
.index .infom .fitem {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index .infom .fitem .left {
  width: 50%;
}
.index .infom .fitem .left img {
  max-width: 100%;
  max-height: 100%;
}
.index .infom .fitem .right {
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.index .infom .fitem .right .rt {
  width: 100%;
  position: absolute;
  top: -60px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.index .infom .fitem .right .ru {
  width: 96%;
  left: 2%;
  position: absolute;
  bottom: -60px;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=index.css.map */